* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(77, 94, 188);
}

body {
    background-color: rgb(255, 255, 255);
}

#xacnhanxoa {
    display: none;
    position: fixed;
    width: 20%;
    top: 25%;
    left: 40%;
    height: 20%;
    background-color: #e4d7d7fb;
    border-radius: 5%;
}

@media only screen and (max-width: 800px) {
    #xacnhanxoa {
        width: 40%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 9px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn:hover {
    text-decoration: none
}

.back-trangchu {
    color: #fff;
    background-color: #1877f2;
    border-color: #1877f2;
}

.back-trangchu:hover {
    color: #fff;
    background-color: #8f8ad5;
    border-color: #0274f7
}

.back-trangchu.focus,
.back-trangchu:focus {
    box-shadow: 0 0 0 .2rem rgba(92, 183, 236, 0.5)
}

.back-trangchu.disabled,
.back-trangchu:disabled {
    background-color: #000000;
    border-color: #000000
}

.back-trangchu:not([disabled]):not(.disabled).active,
.back-trangchu:not([disabled]):not(.disabled):active,
.show>.back-trangchu.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.5)
}

.delsp,.addsp {
    color: #fff;
    background-color: #1877f2;
    border-color: #1877f2;
}

.delsp:hover,.addsp:hover {
    color: #fff;
    background-color: #8f8ad5;
    border-color: #0274f7
}

.form-addsp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
}

h1 {
    margin-left: 100px;
}

.form-add {
    background-color: #7373f1;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 40%; 
}

.form-group {
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.form-control {
    
}

.form-group select,.form-group input,.form-group label {
    padding: 10px;
}

.form-group select,.form-group input {
    border-radius: 9px;
}

.btn-success,.btn-primary {
    background-color: rgb(149, 147, 147);
}

.btn-success:hover,.btn-primary:hover {
    background-color: rgb(4, 100, 255);
}

.table {
    background-color:#6facf2;
    width: 100%;
    height: 100%;
}

.table th {
    margin: 10px 5px;
    border: 1px solid #000000;
}