* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 56px;
    display: flex;
    background-color: #ccc;
    justify-content: flex-start;
    align-items: center;
}
.header a{
    line-height: 56px;
}
.header .name-dashboard {
    color: #c2c7d0;
    width: 15%;
    background-color: #343a40;
    padding: 0 10px;
}
.header .name-dashboard:hover a{
    color: #fff;
}
.name-dashboard i {
    font-size: 20px;
    padding: 0 10px;
}
.name-dashboard a {
    color: #c2c7d0;
}
.home-screen {
    padding: 0 20px;
} 

body {
    background-color: rgb(255, 255, 255);
}

.container {
    min-height: 100vh;
    display: flex;
}

.content {
    background-color: rgba(124, 163, 187, 0.5);
    width: 80%;
}

.menu {
    background-color: #605b5b;
    width: 20%;
    text-align: left;
}
.menu ul{
    background-color: rgba(115, 106, 106, 0.5);
    position: fixed;
    width: 20%;
} 
.menu li {
    margin: 4px;
}

.menu li span {
    text-transform: uppercase;
}

.menu ul li a{
    display: block;
    padding: 10px;
    color: #c2c7d0;
}   
.menu li a i {
    padding-right: 10px;
}


a {
    text-decoration: none;
    color: #000;
}
img {
    width: 80px;
}
.hover-text:hover{
    background-color: #494e53;
    color: #fff;
    border-radius: 5px;
}

.input-group #tukhoa{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 0;
    transition: all 0.25s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.input-group:hover #tukhoa, #tukhoa .form-control:valid {
    width: 300px;
    padding: 10px 15px;
}

.input-group #searchButton {
    background-color: #0075fb;
    border: none;
    padding: 10px 12px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.fa-search{
    color:white;
}

.form-group .form-control {
    padding: 4px;
    margin-top: 4px;
    border-radius: 3px;
    border-color: #D6EFE9;
   
}
.input-group .form-control:hover {
    z-index: 3
}

#xacnhanxoa {
    display: none;
    position: fixed;
    width: 20%;
    top: 25%;
    left: 40%;
    height: 20%;
    background-color: #e4d7d7fb;
    border-radius: 5%;
}

@media only screen and (max-width: 800px) {
    #xacnhanxoa {
        width: 40%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 9px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn:hover {
    text-decoration: none
}

.form-addsp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

h1 {
    margin-left: 100px;
}

.form-add {
    background-color: #f9f9ff;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 40%; 
}

.form-group {
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

#tbodySanPham td{
    text-align: center;
}

#tbodySanPham td #btsua{
    background-color: rgba(1, 255, 255, 0.473);
    cursor: pointer;
    border-radius: 40%;
    transition: 3s;
}

#tbodySanPham td #btxoa{
    border-radius: 40%;
    cursor: pointer;
    background-color: red;
    transition: 3s;
}

#tbodySanPham td #btsua:hover {
    transition: 3s;
    background-color: rgb(167, 237, 230);
    border-radius: 50% ; 
}

#tbodySanPham td #btxoa:hover {
    transition: 3s;
    border-radius: 50%;
    background-color: rgb(255, 64, 0);
}

#tbodySanPham td img{
    width: 60%;
    height: auto;
}

td input{
    width: 70%;
    height: 40%;
    display: block;
    margin: 5px auto;
}

.form-group select,.form-group input,.form-group label {
    padding: 10px;
}

.form-group select,.form-group input {
    border-radius: 9px;
}

.btn-success,.btn-primary {
    background-color: rgb(149, 147, 147);
}

.btn-success:hover,.btn-primary:hover {
    background-color: rgb(4, 100, 255);
}

.table {
    width: 100%;
    height: 100%;
}

.table th {
    margin: 10px 5px;
    border: 1px solid #000000;
}

.showProductedit {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(225, 225, 225, 0.4); /* Black w/ opacity */
}

