/********** Template CSS **********/
:root {
  --primary: #372948;
  --secondary: #ff9f9f;
  --light: #f7f8fc;
  --dark: #111111;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-icon {
  background: url(../img/bg-icon.png) center center repeat;
  background-size: contain;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.fixed-top {
  transition: 0.5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  padding: 25px 15px;
  color: #555555;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background: #ffffff;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary);
  border: 10px solid var(--primary);
  border-radius: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(../img/diamond-bg.jpg) top right no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #999999;
}

/*** Section Header ***/
.section-header {
  position: relative;
  padding-top: 25px;
}

.section-header::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary);
}

.section-header::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 2px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary);
}

.section-header.text-start::before,
.section-header.text-start::after {
  left: 0;
  transform: translateX(0);
}

/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    #ffffff,
    #eeeeee 5px,
    transparent 5px,
    transparent 10px
  );
  background-image: -moz-repeating-radial-gradient(
    #ffffff,
    #eeeeee 5px,
    transparent 5px,
    transparent 10px
  );
  background-image: -ms-repeating-radial-gradient(
    #ffffff,
    #eeeeee 5px,
    transparent 5px,
    transparent 10px
  );
  background-image: -o-repeating-radial-gradient(
    #ffffff,
    #eeeeee 5px,
    transparent 5px,
    transparent 10px
  );
  background-image: repeating-radial-gradient(
    #ffffff,
    #eeeeee 5px,
    transparent 5px,
    transparent 10px
  );
  background-size: 20px 20px;
  transform: skew(20deg);
  z-index: 1;
}

/*** Product ***/
.nav-pills .nav-item .btn {
  color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #ffffff;
}

.product-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.product-item img {
  transition: 0.5s;
}

.product-item:hover img {
  transform: scale(1.1);
}

.product-item small a:hover {
  color: var(--primary) !important;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 60px;
  height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 18px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: #ffffff;
  background: var(--primary);
}

/*** Footer ***/
.footer {
  color: #999999;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #999999;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #999999;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: var(--primary);
}

/* login form  */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(68, 67, 67);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

 /* signupform  */
 .formdk {
  display: none; /* Hidden by default */
  position: sticky; /* Stay in place */
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  padding-top: 2%;
}

/* Modal Content/Box */
.formdk-class {
  background-color: #ffffff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.formdk-class .tb-dk {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formdk-class .tb-dk input {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .formdk-class .tb-dk td {
      width:5%;
  }
  .formdk-class .tb-dk input {
      width: 50%;
  }
}

/* Full-width input fields */
.txt {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn_txt {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn_txt:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* modal-Cart */
.modal-cart {
  position: relative;
  display : none;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}

.modal-cart-top {
  width: 100%;
  display: flex;
  padding : 10px;
  align-items: center;
  background-color: #8d8d8d;
  color: #000;
}

.modal-cart-top h3 {
  display: flex;
}

.modal-cart-top img {
  margin-right: 10px;
}

.modal-cart-bottom {
  width: 100%;
  padding : 20px;
  overflow-y: scroll;
  height : 440px;
}

.modal-cart-bottom h3 {
  margin-bottom: 15px;
}
.cart-img img{
  height: 100%;
  width: 150px;
}

.cart-table {
  width: 100%;
}

.cart-table-list tr {
  display: none;
}

td {
 text-align: center;
}

.text-center {
  text-align: center;
}

.img-wrapper {
  display: flex;
  align-items: center;
}

.modal-wrapper {
  padding: 20px;
}

.cart-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: center;
  margin-left: 20px;
}

.cart-content a {
  color: var(--price-old-modal);
  transition: 0.3s ease-in-out;
}

.cart-content a:hover {
  color: var(--orangeprime);
}

.sum-total {
  position: absolute;
  right: 40px;
  display: flex;
  gap: 10px;
}

.cart-button {
text-align: center;
display: flex;
right: 40px;
float: right;
margin: 20px 10px;
}

.cart-button p {
  font-size: 0.7rem;
}

.btn-modal-cart {
  padding: 15px 10px;
  margin-right: 5px;
  text-decoration: none;
  background-color: rgb(108, 108, 108);
  color: white;
}

.btn-modal-cart:hover {
  background-color: rgb(90, 131, 182);
  color: rgb(240, 110, 81);
}

/* End */
